#modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-background {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.7);
}
#modal-content {
  position: absolute;
  background: white;
  border-radius: 8px;
  padding: 24px;
  min-width: 320px;
  max-width: 90vw;
}
